body {
    background: #E6E6E6;
    transition: all 0.2s ease-in-out;
    
    width: 100vw;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body.Night {
    background: #000;
    color: #fff;
}

.button {
    width: 100px;
    height: 50px;
    background: #161b22;
    color: #fff;
}

body.Night .menu {
    background: #fff;
    color: #000;
}

body.Night nav {
    background: #393939;
}