body {
    background: #E6E6E6;
}

body.Night {
    background: #000;
    color: #fff;
}

.button {
    width: 100px;
    height: 50px;
    background: #000;
}

body.Night button {
    background: #fff;
    color: #000;
}